* {
    color: rgb(69, 92, 71);
    font-family: Verdana, sans-serif;
    font-size: 20px;
}

.home {
    margin: auto;
    width: 100px;
}

button {
    background-color: rgb(164, 212, 173);
    color: white;
    font-size: 30px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.basic {
    background-color: rgb(164, 212, 173);
    width: 700px;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
}

.title {
    width: 300px;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    border: dotted rgb(164, 212, 173) 5px;
    padding: 1px;
}

img {
    width: 600px;
    margin: auto;
    display: block;
    margin-bottom: 5px;
}

ul {
     list-style-position: inside;
     margin: auto;
     text-align: left;
     width: 250px;
}

ol {
    list-style-position: inside;
     margin: auto;
     text-align: left;
     width: 250px;
}